* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62,5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #d5cfeb;
}

/* ONE-USER */

.users-wrapper {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.user-container {
  width: 15rem;
  height: 17rem;
  background-color: rgb(100, 149, 237);
  padding: .5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
  box-shadow: 2px 3px 13px 0px rgba(40,40,40,0.7);
}

.user-icon-wrapper {
  position: absolute;
  top: -13%;
  left: 38%;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(109, 109, 109);
  border-radius: 100rem;
}

.icon-user-profile {
  fill: rgb(247, 180, 132);
  width: 2.5rem;
  height: 2.5rem;
  margin-top: .1rem;
  margin-left: .5rem;
}

.edit-pen {
  fill: rgb(247, 180, 132);
  width: 1.8rem;
  height: 1.8rem;
}

.edit-pen:hover {
  transition: .2s;
  cursor: pointer;
  transform: translateY(-2px);
  width: 2.2rem;
  height: 2.2rem;
  fill: rgb(255, 162, 96);
}

.edit-pen:active {
  transition: .2s;
  transform: translateY(2px);
  width: 1.8rem;
  height: 1.8rem;
}

.user-container-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(109, 109, 109);
  margin-bottom: .5rem;
}

.user-container-info-label {
  margin-top: .5rem;
  font-weight: 400;
  color:rgb(51,51, 51);
}

.user-container-info-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
}

.user-container-info-output {
  color: rgb(37, 37, 37);
}

.button-edit {
  outline: none;
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
}

/* LOG-IN-FORM */

.root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.login-form-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26rem;
  height: 22rem;
  background-color: rgb(100, 149, 237);
  border-radius: .3rem;
  border-bottom: 1rem;
  padding: .6rem;
  display: flex;
  flex-direction: column;
}

.login-form-header {
  font-size: 2rem;
  color:rgb(247, 180, 132);
}

.login-form-input-container {
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.login-form-input-label {
  font-weight: 600;
}

.icon-user {
  fill: rgb(247, 180, 132);
  width: 1.8rem;
  height: 1.8rem;
}

.icon-password {
  fill: rgb(247, 180, 132);
  width: 1.8rem;
  height: 1.8rem;
}

.login-form-input-input {
  width: 80%;
  height: 1.8rem;
  border: none;
  border-radius: .3rem;
  text-indent: 1.2rem;
  margin-bottom: .3rem;
  outline: none;
}

.login-form-input-input:hover {
  border: 1px solid rgb(92, 92, 90);
  cursor: pointer;
}

.login-form-input-input:focus {
  border: 1px solid rgb(92, 92, 90);
}

.login-form-button {
  font-size: 135%;
  color: rgb(92, 92, 90);
  outline: 0;
  width: 91%;
  height: 3rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border-radius: .3rem;
  border: 1px solid white;
  background-color: rgb(247, 180, 132);
}

.login-form-button:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(54, 54, 54, 0.4);
  transition-duration: .2s;
}

.login-form-button:active {
  transform: translateY(2px);
  transition-duration: .2s;
}

.create-user-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.create-user-button {
  display: inline-block;
  width: 50%;
  background-color: rgb(247, 180, 132);
  border: 1px solid white;
  outline: none;
  font-size: 1rem;
  border-radius: .3rem;
  color: rgb(92, 92, 90);
}

.create-user-button:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(54, 54, 54, 0.4);
  transition-duration: .2s;
}

.create-user-button:active {
  transform: translateY(2px);
  transition-duration: .2s;
}

.not-a-member {
  display: inline-block;
  font-size: 1rem;
  color: rgb(44, 44, 44);
}

.link-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid rgb(51, 51, 51);
  margin-bottom: 3rem;
}

.logout-link {
  margin-right: 8rem;
  color: rgb(100, 149, 237);
  font-size: 1.3rem;
  border: 2px solid transparent;
  background-color: transparent;
  padding: .2rem;
}

.logout-link:hover {
  cursor: pointer;
  transition: .3s;
  border-bottom: 2px solid rgb(51, 51, 51);
}

.logout-link:active {
  text-decoration: none;
  color: grey;
}

/* EDIT USER PAGE */

.edit-user-wrapper {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 30rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.2rem;
  background-color: #b2aad1;
  border-radius: .3rem;
}

.edit-user-heading {
  margin: 0 auto;
  font-size: 2rem;
  color: rgb(59, 59, 59);
}

.edit-user-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.edit-user-label {
  font-size: 1.2rem;
  color: rgb(59, 59, 59);
}

.edit-user-input {
  background-color: #d5cfeb;
  border-radius: .3rem;
  border: none;
  width: 15rem;
  height: 1.8rem;
}

.edit-button-confirm {
  margin-left: 11rem;
  width: 50%;
  background-color: rgb(247, 180, 132);
  border: 1px solid white;
  outline: none;
  font-size: 1rem;
  border-radius: .3rem;
  color: rgb(92, 92, 90);
}

.edit-button-confirm:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(54, 54, 54, 0.4);
  transition-duration: .2s;
}

.edit-button-confirm:active {
  transform: translateY(2px);
  transition-duration: .2s;
}

/* EDIT USER PAGE - ADMIN */

.edit-user-admin-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  margin-left: 5rem;
  width: 20rem;
  height: 8rem;
  padding: 1.2rem;
  background-color: #b2aad1;
  border-radius: .3rem;
}

.edit-user-admin-input-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.edit-button-admin-confirm {
  width: 50%;
  background-color: rgb(247, 180, 132);
  border: 1px solid white;
  outline: none;
  font-size: 1rem;
  border-radius: .3rem;
  color: rgb(92, 92, 90);
}

.edit-button-admin-confirm:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(54, 54, 54, 0.4);
  transition-duration: .2s;
}

.edit-button-confirm:active {
  transform: translateY(2px);
  transition-duration: .2s;
}

.edit-user-admin-input-wrapper-back {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 1.2rem;
}

.button-back-wrapper-new-user {
  position: absolute;
  top: 0%;
  left: 1%;
}

.button-back {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  outline: none;
  border: 3px solid #b2aad1;
  border-radius: 100rem;
}

.button-back:hover {
  transform: translateY(-2px);
  transition: .2s;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(134, 134, 134, 0.4);
}

.button-back:active {
  transform: translateY(2px);
  transition-duration: .2s;
}

.icon-back {
  width: 2rem;
  height: 2rem;
  fill:#b2aad1;
}


.error-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  background-color: #b2aad1;
  justify-content: space-evenly;
}

.error-page-heading {
  font-size: 5rem;
  font-weight: 600;
  color: #584b8d;
}

.error-page-text {
  font-size: 3rem;
  font-weight: 600;
  color: #584b8d;
}

